@font-face {
    font-family: "Plus Jakarta Sans Bold";
    src: url('./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf');
}

@font-face {
    font-family: "Plus Jakarta Sans Medium";
    src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf');
}

:root {
    --red-500: hsl(1, 90%, 64%);
    --blue-950: hsl(219, 85%, 26%);

    --white: hsl(0, 100%, 100%);
    --navy-50: hsl(210, 60%, 98%);
    --blue-100: hsl(211, 68%, 94%);
    --navy-100: hsl(205, 33%, 90%);
    --gray-500: hsl(219, 14%, 63%);
    --gray-600: hsl(219, 12%, 42%);
    --navy-950: hsl(224, 21%, 14%);
}

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Plus Jakarta Sans Medium', sans-serif;
    background-color: var(--navy-50);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

#root{
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    max-width: 60rem;
}

li{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: var(--neutral-0);
}

h2{
    margin-bottom: 0.5rem;
}
/*
img {
    max-inline-size: 100%;
    block-size: auto;
    display: block;
}*/

button{
    cursor: pointer;
    font-family: 'Plus Jakarta Sans Medium', sans-serif;
    font-size: 1rem;
}

.transparent-btn{
    background-color: transparent;
    border:0;
    color: var(--gray-500);
    text-align: left;
    padding: 0;
    border-radius: 0.3rem;
}

.transparent-btn:hover, .transparent-btn:focus{
    color: var(--blue-950);
}
.transparent-btn:active{
    opacity: 0.6;
}

@media (prefers-reduced-motion: no-preference) {
  a, button {
    transition: all 0.3s ease-out;
  }
}
@media screen and (width >= 52rem){
    body{
        padding: 2rem;
    }
}